!!! 5
html
  head
    title Search example
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Shadows+Into+Light')
    link(rel='stylesheet',href="/css/main.css")
    
  body
    h2(id="logo") L'Haym'uq
    h5(id="description") Ask your Money
    input(type='search')
    img(id="search-button" src="/images/search.png")
    div(id="answer-summary")
    div(id="answer-transactions")
    script(src='client.js')
