!!! 5
html
  head
    title L'Haym'uq!
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Shadows+Into+Light')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Bubbler+One')
    link(rel='stylesheet',href="/css/reset.css")
    link(rel='stylesheet',href="/css/main.css")
    
  body
    div(id="header")
      img(id="mascot" src="/images/mascot.png")
      h2(id="logo") L'Haym'uq!
      h5(id="description") Ask your Money
    div(id="content")
      input(id="search-bar" type='search')
      img(id="search-button" src="/images/search.png")
    div(id="results")
      div(id="answer-summary")
      table(id="answer-transactions" class="CSSTableGenerator")
        tr
          td Date
          td Amount
          td Other Party
    script(src='client.js')
