!!! 5
html
  head
    title Search example
    style.
      body {
        font: 14px "Helvetica Neue", Helvetica;
        padding: 50px;
      }
  body
    h2 LHAYMUQ
    p Ask your Money
    input(type='search')
    img(id="search-button" src="/images/search.png")
    pre
    script(src='client.js')
